@media (max-width:3840px) {
  .section__hero {
    min-width: 100%;
    background-size: cover;
  }
}

@media (max-width:1600px) {

  .about-content {
    flex-direction: column;
  }

  .about-content__left {
    min-height: 600px;
    margin-bottom: 32px;
  }

  .about-content__right {
    max-width: 1600px;
  }

  .about-left__inner {
    justify-content: space-around;
    width: 100%;
  }

  .work-third-container-item {
    font-size: 20px;
  }

  .section__work-container {
    margin-top: 24px;
  }

  .section__work-title {
    margin-top: 81px;

  }

  .work-list-item:not(:last-child) {
    margin-right: 81px;
  }

  .work-first-container-left-title {
    margin-top: 26px;

  }

  .work-first-container-left-descr {

    margin-right: 66px;
    margin-bottom: 26px;
  }

  .work-first-container-left {
    width: 116%;
  }

  .work-first-container-right {
    max-width: 100%;
  }

  .section__work-third-container {
    max-width: 1600px;
  }

  .work-third-container-title {
    margin-top: 80px;
    padding-bottom: 32px;

  }

  .work-item-title {
    width: 889px;
  }

  .footer__text {
    display: none;
  }

}

@media (max-width:1250px) {
  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
    padding-right: 20px;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: #333;
    transform: translateX(-50%);
  }

  .nav {
    display: none;
  }

  .burger__line:nth-child(1) {
    top: 20px;
  }

  .burger__line:nth-child(3) {
    bottom: 20px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }


}

@media (max-width:1024px) {
  .container {
    max-width: 1024px;
    padding: 0px 50px;
    margin: 0 auto;
  }


  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
    padding-right: 20px;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: #333;
    transform: translateX(-50%);
  }

  .nav {
    display: block;
  }

  .burger__line:nth-child(1) {
    top: 20px;
  }

  .burger__line:nth-child(3) {
    bottom: 20px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .header {
    z-index: 11;
  }


  .header__inner {
    position: absolute;
    top: 0;
    z-index: 35;
    left: -1000px;
    transition: left linear 0.4s;
  }

  .header__search-box {
    display: none;
  }

  .header__search-box-two {
    display: block;
  }

  .header__inner.visible {
    left: 0;
  }

  .burger.opened {
    z-index: 36;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .nav__list {
    max-width: 264px;
    font-size: 24px;
    flex-direction: column;
    background-color: #fff;
    padding-top: 137px;
    padding-right: 106px;
    padding-left: 50px;
    min-height: 100vh;
    align-items: baseline;
  }

  .nav__item {
    margin: 0;
    padding-bottom: 60px;
  }

  .nav-itme:not(:last-child) {
    margin-right: 0;
  }




  .header__logo {
    width: 150px;
    height: 48px;
    padding-left: 75px;
  }

  .search__btn {
    width: 26px;
    height: 26px;
    padding: 0px;
    margin-left: 80px;
  }

  .search-form-two {
    max-width: 539px;
    height: 60px;
    display: flex;
    position: absolute;
    opacity: 0;
    top: -77px;
    right: 40px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    transition: top .5s, opacity .5s;
  }

  .search-form-show-two {
    opacity: 1;
    top: 22px;
  }

  .search-form__input-two {
    width: 412px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #DCDCDC;
  }

  .search-form__send-two {
    padding-right: 20px;
    padding-left: 14px;
  }

  /*.section__hero {
    max-width: 924px;
    min-height: 668px;
    /*background-image: url(../img/low-angle-photo-of-balconies-1024.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }*/


  /*.section__hero-text {
    min-height: 668px;
  }*/

  .section__hero-title {
    max-width: 770px;
    min-height: 146px;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
    padding-top: 160px;
    padding-left: 77px;
    letter-spacing: 0px;
  }

  .section__hero-descr {
    max-width: 660px;
    min-height: 48px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .about {
    padding-top: 80px;
  }

  .about__heading {
    padding-bottom: 10px;
  }

  .about__text {
    max-width: 925px;
    min-height: 263px;
    padding-bottom: 55px;
  }

  .about-content {
    flex-wrap: wrap;
  }

  .about-content__left {
    min-height: 640px;
    max-width: 924px;
    margin-bottom: 32px;
    background-image: url(../../../progects/Hotels/weblayout/14_accessibility/img/about-content-left1024.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .about-left__text {
    padding-right: 191px;
  }

  .about-left__inner {
    padding: 52px 0 48px 47px;
  }

  .about-left__btn {
    padding: 20px 35px;
    margin-right: 50px;
  }


  .about-right__title {
    max-width: 406px;
    min-height: 29px;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  .about-right__text {
    max-width: 450px;
    min-height: 128px;
  }

  .about-content__right {
    max-width: 100%;
  }

  .about-right__item:first-child {
    margin-bottom: 30px;
    padding: 63px 157px 62px 316px;
    background-position: left 76px top 64px;
  }

  .about-right__item:last-child {
    padding: 63px 157px 60px 315px;
  }

  .right-item-bottom {
    background-position: left 76px top 64px;
  }

  .work-third-container-item {
    font-size: 20px;
  }

  .section__work {
    padding-bottom: 93px;
  }

  .section__work-container {
    max-width: 924px;
    margin-top: 24px;
  }

  .section__work-title {
    margin-top: 81px;

  }

  .work-list-item:not(:last-child) {
    margin-right: 81px;
  }

  .work-first-container-left-title {
    margin-top: 26px;

  }

  .work-first-container-left-descr {

    margin-right: 66px;
    margin-bottom: 26px;
  }

  .work-first-container-left {
    width: 112%;
  }

  .work-first-container-right {
    background-image: url(../../../progects/Hotels/weblayout/14_accessibility/img/worck-first-container1024.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .section__work-third-container {
    max-width: 924px;
  }

  .work-third-container-title {
    margin-top: 80px;
    padding-bottom: 32px;

  }

  /*.item-one {
    padding-bottom: 22px;
  }

  .item-two {
    padding-top: 47px;
    padding-bottom: 26px;
  }

  .item-three {
    padding-top: 40px;
    padding-bottom: 19px;
  }

  .item-four {
    padding-top: 30px;
    padding-bottom: 27px;
  }*/

  .work-item-title {
    font-size: 20px;
    line-height: 32px;
  }

  .work-third-container-item {
    max-width: 910px;
  }

  .work-third-container-item-img-four {
    margin-top: 9px;
  }


  .work-third-container-item-img-two {
    margin-top: 9px;
  }


  .footer-wrapper {
    max-width: 542px;
  }

  .form__btn {
    padding: 20px 38px;
    margin-right: 19px;
    white-space: nowrap;
  }

  .container__form {
    margin-top: 18px;
  }

  .checkmark {
    transform: translateY(-98%);
  }

  .footer__text {
    display: none;
  }

  .footer-left {
    width: 42%;
  }

  .footer-right {
    width: 59%;
  }


}

@media (max-width:999px) {

  .about-right__title {
    white-space: normal;
  }

  .ui-accordion .ui-accordion-header {
    max-width: 400px;
    font-size: 20px;

  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .bird {
    padding-bottom: 51px;
  }

  .footer__list {
    display: none;
  }

}

@media (max-width:768px) {

  .container {
    max-width: 768px;
    padding: 0px 50px;
    margin: 0 auto;
  }

  .header__container {
    height: 69px;
  }

  .header__logo {
    padding-left: 75px;
  }

  .header__inner {
    position: absolute;
    top: 0;
    left: -1000px;
    transition: left linear 0.4s;
  }

  .header__inner.visible {
    left: 0;
  }

  .burger.opened {
    z-index: 36;
  }

  .nav__list {
    font-size: 24px;
    flex-direction: column;
    background-color: #fff;
    padding-top: 137px;
    padding-left: 50px;
    min-height: 100vh;
  }

  .nav__item {
    margin-bottom: 60px;
  }

  .nav__item:last-child {
    margin-bottom: 0;
  }

  .search__btn {
    padding-left: 2px;
  }

  .search-form-two {
    width: 539px;
    height: 60px;
    display: flex;
    position: absolute;
    opacity: 0;
    top: -77px;
    right: 40px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    transition: top .5s, opacity .5s;
  }

  .search-form-show-two {
    opacity: 1;
    top: 4px;
  }

  .search-form__input-two {
    width: 412px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #DCDCDC;
  }

  .search-form__send-two {
    padding-right: 20px;
    padding-left: 14px;
  }


  .section__hero {
    max-width: 668px;
    min-height: 662px;
    /*background-image: url(../img/hero768.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .section__hero-title {
    min-height: 116px;
    line-height: 60px;
    margin-bottom: 16px;
    padding-top: 162px;
    padding-left: 40px;
    letter-spacing: 0px;
    font-size: 50px;
  }

  .section__hero-descr {
    font-size: 18px;
    padding-left: 40px;
    margin-bottom: 78px;
  }

  .section__hero-btn {
    margin-left: 40px;
  }

  .about__text {
    padding-bottom: 60px;
  }

  .about-right__title {
    white-space: nowrap;
  }

  .about-content__left {
    max-width: 668px;
    min-height: 650px;
  }

  .about-left__inner {
    padding: 35px 0 33px 40px;

  }


  .about-left__text {
    min-height: 128px;
    padding-right: 59px;
  }

  .about-left__btn {
    margin-right: 40px;
  }

  .about-content__right {
    max-width: 668px;
  }

  .about-right__item:first-child {
    background-position: left 41px top 68px;
    background-size: 112px;
    padding: 33px 100px 32px 167px;
  }

  .about-right__item:last-child {
    background-position: left 41px top 68px;
    background-size: 112px;
    padding: 34px 30px 31px 169px;

  }

  .section__work {
    padding-bottom: 79px;
  }

  .section__work-list {
    justify-content: space-between;
  }

  .work-list-item-link {
    padding: 0;
  }

  .section__work-first-container {
    flex-direction: column-reverse;
  }

  .work-first-container-right {
    margin-top: 24px;
    max-width: 668px;
    min-height: 283px;
    background-image: url(../../../progects/Hotels/weblayout/14_accessibility/img/work768.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  .work-first-container-right-two {
    min-height: 283px;
  }

  .work-first-container-right-three {
    min-height: 283px;
  }

  .work-first-container-right-four {
    min-height: 283px;
  }


  .work-first-container-left {
    max-width: 667px;
    min-height: 352px;
  }

  .work-first-container-left-descr {
    margin: 0;
    margin-bottom: 26px;
  }

  .work-first-container-left-title {
    margin-top: 40px;
  }

  .work-third-container-item-img-three {
    margin: 0;
  }

  .work-third-container-item-img-five {
    margin: 0;
  }

  .work-item-title {
    font-size: 20px;
  }

  /*.work-third-container-item {
    padding-top: 31px;
    padding-bottom: 38px;
  }*/

  .section__work-third-container {
    max-width: 668px;
  }

  .work-item-title {
    max-width: 570px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 20px;
  }



  /*.item-two {
    padding-bottom: 26px;
  }

  .item-three {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .item-four {
    padding-top: 30px;
    padding-bottom: 26px;

  }

  .item-five {
    padding-top: 31px;
    padding-bottom: 69px;
  }*/

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .bird {
    padding-bottom: 51px;
  }

  .footer {
    padding-top: 51px;
  }

  .footer__list {
    display: none;
  }

}

@media (max-width:740px) {
  .container {
    max-width: 320px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  .header {
    width: 100%;
  }

  .header__logo {
    width: 119px;
    height: 41px;
    padding-top: 3px;
    padding-left: 12px;
    flex-shrink: 0;
    padding-right: 10px;

  }

  .header__search-box {
    padding-top: 5px;
  }



  .logo-img {
    width: 115px;
  }

  /*.header__search-box {
    margin-right: 24px;
  }*/

  .header__inner {
    position: absolute;
    top: 0;
    left: -1000px;
    transition: left linear 0.4s;
  }

  .header__inner.visible {
    left: 0;
  }

  .burger.opened {
    z-index: 36;
  }

  .nav__list {
    font-size: 24px;
    flex-direction: column;
    background-color: #fff;
    padding-top: 137px;
    padding-left: 50px;
    min-height: 100vh;
  }

  .nav__item {
    margin-bottom: 60px;
  }

  .search__btn {
    margin: 0;
    padding: 0;
    /* padding-left: 40px;*/
  }

  .search-form-two {
    width: 308px;
    top: -60px;
    right: 4px;
    transition: top .5s, opacity .5s;
  }

  .search-form__input-two {
    margin-left: 14px;
  }

  .search-form__close {
    margin-right: 22px;
  }

  .search-form-show-two {
    width: 290px;
    top: 0;
    z-index: 1;
  }

  .search-form__send {
    margin-left: 0px;
  }

  .section__hero {
    max-width: 290px;
    min-height: 308px;
    /*background-image: url(../img/hero\ 320.jpg);*/
  }

  .swiper-slide {
    min-height: 308px;
  }


  .swiper-container {
     min-height: 308px;
  }



  .section__hero-title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 61px;
    padding-left: 22px;
    margin-bottom: 0;
    max-width: 247px;
    min-height: 55px;
    text-align: center;
  }

  .section__hero-descr {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 31px;
    padding-left: 22px;
    max-width: 247px;
    min-height: 61px;
    text-align: center;
  }

  .section__hero-btn {
    width: 162px;
    height: 39px;
    padding: 0;
    font-size: 12px;
    margin-left: 64px;
  }

  .about {
    padding-top: 46px;
  }

  .about__heading {
    font-size: 24px;
    padding-bottom: 2px;
  }

  .about__text {
    width: 290px;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 16px;
  }

  .about-content__left {
    align-items: flex-start;
    background-size: 290px 200px;
    min-height: 425px;
    margin-right: 0;
    margin-bottom: 0;
    background-image: url(../img/about\ 320.png);
    background-repeat: no-repeat;
    background-position: top;
  }

  .about-left__inner {
    background: none;
    min-height: 405px;
    padding: 0;
    max-width: 290px;
    flex-direction: column;
    justify-content: end;
  }

  .about-left__text {
    font-size: 14px;
    line-height: 28px;
    max-width: 100%;
    height: 151px;
    color: #333;
    padding: 0;
  }

  .about-left__btn {
    margin-right: 127px;
    padding: 13px 42px;
    font-size: 12px;
    color: var(--btn-color);
  }

  .about-left__btn:hover {
    color: #fff;
  }

  .about-left__btn:focus {
    color: #fff;
  }

  .about-right__item:first-child {
    max-width: 290px;
    border: none;
    padding: 67px 4px 30px 1px;
    background-position: left 0 top 6px;
    background-size: 64px;
    margin-bottom: 0;
    background-image: url(../img/Frame\ 320.jpg);

  }

  .about-right__item:last-child {
    max-width: 290px;
    border: none;
    background-size: 64px;
    background-position: 0 1px;
    padding: 63px 30px 31px 0;
    background-image: url(../img/Frame\ bottom\ 320.jpg);
  }

  .about-content__right {
    max-width: 290px;
    min-height: 127px;
  }

  .about-right__title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
    line-height: 22px;
    flex-wrap: wrap;
    white-space: normal;
  }

  .about-right__text {
    font-size: 14px;
    line-height: 28px;

  }

  .section__work {
    padding-bottom: 59px;
  }

  .section__work-title {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  .section__work-container {
    margin-top: 24px;
  }

  .work-list-item {
    font-size: 14px;
  }

  .work-list-item:not(:last-child) {
    margin-right: 39px;
  }

  .work-first-container-right {
    margin-top: -15px;
    max-width: 290px;
    min-height: 168px;
    background-size: 290px;
    background-image: url(../img/work\ 320.png);

  }

  .work-first-container-right-two {
    margin: 0;
    min-height: 168px;
  }

  .work-first-container-right-three {
    margin: 0;
    min-height: 168px;
  }

  .work-first-container-right-four {
    margin: 0;
    min-height: 168px;
  }

  .work-first-container-left {
    max-width: 291px;
  }

  .work-first-container-left-title {
    margin-top: 12px;
    font-size: 18px;
  }

  .work-first-container-left-descr {
    max-width: 296px;
    min-height: 700px;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 17px;
  }

  .work-first-container-left-btn-one {
    font-size: 12px;
    padding: 12px 43px;
    margin-right: 6px;
  }

  .work-first-container-left-btn-two {
    font-size: 12px;
    padding: 12px 31px;
  }

  .section__work-third-container {
    max-width: 290px;
  }

  .work-third-container-title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 60px;
    padding-bottom: 16px;
  }

  .work-third-container-item {
    font-size: 14px;
    line-height: 24px;
  }

  .work-pic {
    width: 30px;
    height: 30px;
  }


  .work-third-container-item-img-one {
    padding-top: 18px;
    padding-left: 20px;
  }


  .work-third-container-item-img-two {
    padding-top: 13px;
  }

  .work-third-container-item-img-three {
    padding-top: 21px;
  }

  .work-third-container-item-img-four {
    padding-top: 12px;
  }

  .work-third-container-item-img-five {
    padding-top: 8px;
  }

  .ui-accordion .ui-accordion-header {
    max-width: 200px;
    font-size: 14px;
  }



  .work-item-title {
    font-size: 14px;
    line-height: 24px;
    max-width: 244px;
  }

  .work__pic-container {
    padding-left: 20px;
  }

  .footer {
    padding-top: 32px;
    padding-bottom: 10px;
  }

  .footer__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px;
  }

  .footer__form {
    max-width: 277px;
    height: 344px;
  }


  .form__input {
    margin-bottom: 33px;
    width: 269px;
    height: 64px;
  }

  .form__input:first-child {
    margin: 0;
    height: 60px;
    margin-bottom: 22px;
  }

  .form__input {
    font-size: 14px;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 24px;


  }

  .form__area {
    width: 264px;
    height: 120px;
    padding-top: 21px;
    padding-right: 6px;
    padding-bottom: 9px;
    padding-left: 20px;
    margin-bottom: 24px;
    font-size: 14px;
  }

  .bird {
    flex-direction: column;
    padding-bottom: 37px;
  }

  .form__btn {
    max-width: 180px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 55px;
    padding: 13px 17px;
  }

  .container__form {
    margin-top: 14px;
    margin-left: 5px;
  }

  .checkmark {
    transform: translateY(-88%);
    top: 77%;
  }

  .checkbox-txt {
    font-size: 16px;
  }

  .footer__icon svg {
    width: 40px;
    height: 40px;
    background-size: 40px;

  }

  .footer-left {
    width: 78%;
  }

  .footer__logo {
    padding-left: 79px;
    margin-bottom: 6px;
  }

  .footer__social {
    margin-left: 61px;
  }


}

@media (max-width:320px) {
  .container {
    max-width: 320px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  .header {
    width: 100%;
  }

  .header__logo {
    width: 119px;
    height: 41px;
    padding-top: 3px;
    padding-left: 12px;
    flex-shrink: 0;
    padding-right: 10px;

  }

  .header__search-box {
    padding-top: 5px;
  }



  .logo-img {
    width: 115px;
  }

  /*.header__search-box {
    margin-right: 24px;
  }*/

  .header__inner {
    position: absolute;
    top: 0;
    left: -1000px;
    transition: left linear 0.4s;
  }

  .header__inner.visible {
    left: 0;
  }

  .burger.opened {
    z-index: 36;
  }

  .nav__list {
    font-size: 24px;
    flex-direction: column;
    background-color: #fff;
    padding-top: 137px;
    padding-left: 50px;
    min-height: 100vh;
  }

  .nav__item {
    margin-bottom: 60px;
  }

  .search__btn {
    margin: 0;
    padding: 0;
    /* padding-left: 40px;*/
  }

  .search-form-two {
    width: 308px;
    top: -60px;
    right: 4px;
    transition: top .5s, opacity .5s;
  }

  .search-form__input-two {
    margin-left: 14px;
  }

  .search-form__close {
    margin-right: 22px;
  }

  .search-form-show-two {
    width: 290px;
    top: 0;
    z-index: 1;
  }

  .search-form__send {
    margin-left: 0px;
  }



  .swiper-slide {
    min-height: 308px;
  }


  .swiper-container {
     min-height: 308px;
  }



  .section__hero-title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 61px;
    padding-left: 22px;
    margin-bottom: 0;
    max-width: 247px;
    min-height: 55px;
    text-align: center;
  }

  .section__hero-descr {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 31px;
    padding-left: 22px;
    max-width: 247px;
    min-height: 61px;
    text-align: center;
  }

  .section__hero-btn {
    width: 162px;
    height: 39px;
    padding: 0;
    font-size: 12px;
    margin-left: 64px;
  }

  .about {
    padding-top: 46px;
  }

  .about__heading {
    font-size: 24px;
    padding-bottom: 2px;
  }

  .about__text {
    width: 290px;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 16px;
  }

  .about-content__left {
    align-items: flex-start;
    background-size: 290px 200px;
    min-height: 425px;
    margin-right: 0;
    margin-bottom: 0;
    background-image: url(../img/about\ 320.png);
    background-repeat: no-repeat;
    background-position: top;
  }

  .about-left__inner {
    background: none;
    min-height: 405px;
    padding: 0;
    max-width: 290px;
    flex-direction: column;
    justify-content: end;
  }

  .about-left__text {
    font-size: 14px;
    line-height: 28px;
    max-width: 100%;
    height: 151px;
    color: #333;
    padding: 0;
  }

  .about-left__btn {
    margin-right: 127px;
    padding: 13px 42px;
    font-size: 12px;
    color: var(--btn-color);
  }

  .about-left__btn:hover {
    color: #fff;
  }

  .about-left__btn:focus {
    color: #fff;
  }

  .about-right__item:first-child {
    max-width: 290px;
    border: none;
    padding: 67px 4px 30px 1px;
    background-position: left 0 top 6px;
    background-size: 64px;
    margin-bottom: 0;
    background-image: url(../img/Frame\ 320.jpg);

  }

  .about-right__item:last-child {
    max-width: 290px;
    border: none;
    background-size: 64px;
    background-position: 0 1px;
    padding: 63px 30px 31px 0;
    background-image: url(../img/Frame\ bottom\ 320.jpg);
  }

  .about-content__right {
    max-width: 290px;
    min-height: 127px;
  }

  .about-right__title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
    line-height: 22px;
    flex-wrap: wrap;
    white-space: normal;
  }

  .about-right__text {
    font-size: 14px;
    line-height: 28px;

  }

  .section__work {
    padding-bottom: 59px;
  }

  .section__work-title {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  .section__work-container {
    margin-top: 24px;
  }

  .work-list-item {
    font-size: 14px;
  }

  .work-list-item:not(:last-child) {
    margin-right: 39px;
  }

  .work-first-container-right {
    margin-top: -15px;
    max-width: 290px;
    min-height: 168px;
    background-size: 290px;
    background-image: url(../img/work\ 320.png);

  }

  .work-first-container-right-two {
    margin: 0;
    min-height: 168px;
  }

  .work-first-container-right-three {
    margin: 0;
    min-height: 168px;
  }

  .work-first-container-right-four {
    margin: 0;
    min-height: 168px;
  }

  .work-first-container-left {
    max-width: 291px;
  }

  .work-first-container-left-title {
    margin-top: 12px;
    font-size: 18px;
  }

  .work-first-container-left-descr {
    max-width: 296px;
    min-height: 700px;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 17px;
  }

  .work-first-container-left-btn-one {
    font-size: 12px;
    padding: 12px 43px;
    margin-right: 6px;
  }

  .work-first-container-left-btn-two {
    font-size: 12px;
    padding: 12px 31px;
  }

  .section__work-third-container {
    max-width: 290px;
  }

  .work-third-container-title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 60px;
    padding-bottom: 16px;
  }

  .work-third-container-item {
    font-size: 14px;
    line-height: 24px;
  }

  .work-pic {
    width: 30px;
    height: 30px;
  }


  .work-third-container-item-img-one {
    padding-top: 18px;
    padding-left: 20px;
  }


  .work-third-container-item-img-two {
    padding-top: 13px;
  }

  .work-third-container-item-img-three {
    padding-top: 21px;
  }

  .work-third-container-item-img-four {
    padding-top: 12px;
  }

  .work-third-container-item-img-five {
    padding-top: 8px;
  }

  .ui-accordion .ui-accordion-header {
    max-width: 200px;
    font-size: 14px;
  }



  .work-item-title {
    font-size: 14px;
    line-height: 24px;
    max-width: 244px;
  }

  .work__pic-container {
    padding-left: 20px;
  }

  .footer {
    padding-top: 32px;
    padding-bottom: 10px;
  }

  .footer__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px;
  }

  .footer__form {
    max-width: 277px;
    height: 344px;
  }


  .form__input {
    margin-bottom: 33px;
    width: 269px;
    height: 64px;
  }

  .form__input:first-child {
    margin: 0;
    height: 60px;
    margin-bottom: 22px;
  }

  .form__input {
    font-size: 14px;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 24px;


  }

  .form__area {
    width: 264px;
    height: 120px;
    padding-top: 21px;
    padding-right: 6px;
    padding-bottom: 9px;
    padding-left: 20px;
    margin-bottom: 24px;
    font-size: 14px;
  }

  .bird {
    flex-direction: column;
    padding-bottom: 37px;
  }

  .form__btn {
    max-width: 180px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 55px;
    padding: 13px 17px;
  }

  .container__form {
    margin-top: 14px;
    margin-left: 5px;
  }

  .checkmark {
    transform: translateY(-88%);
    top: 77%;
  }

  .checkbox-txt {
    font-size: 16px;
  }

  .footer__icon svg {
    width: 40px;
    height: 40px;
    background-size: 40px;

  }

  .footer-left {
    width: 78%;
  }

  .footer__logo {
    padding-left: 79px;
    margin-bottom: 6px;
  }

  .footer__social {
    margin-left: 61px;
  }


}
